/* resetting default css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bgContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.top-half {
  background-color: #1d4b97;
  flex: 1;
}

.bottom-half {
  background-color: #e4f2ff;
  flex: 1;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  z-index: 1;
}

nav {
  padding: 30px;
  margin-bottom: 30px;
}

nav a {
  font-weight: bold;
  color: #fff;
}

nav a.router-link-exact-active {
  color: #42b983;
}

header {
  text-align: center;
  margin-bottom: 80px;
}

header h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: #1d4b97;
  font-weight: 600;
  margin-bottom: 30px;
}

h3 {
  font-size: 16px;
  color: #1d4b97;
  font-weight: 600;
  margin-bottom: 20px;
}

header p {
  font-size: 19px;
  color: #fff;
  font-weight: 400;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

svg{
  width: 20px;
  margin-left: 10px;
}

@media (max-width: 768px){
  #app{
    padding: 0 15px;
  }
}